  .cones {
      width: 200px;
      margin: 0 auto;
  }
  
  .cone-line {
      margin: 0 auto;
 
  }
  
  .button-commit {
      margin: 20px auto;
      padding: 20px;
      display: block;
      visibility: hidden;
      border-radius: 12px;
  }


  .button-game-against-computer {
      margin: 20px auto;
      float: right;
      display: inline-block;
      visibility: visible;    
      padding: 10px;
      border-radius: 12px;
      min-width: 220px;
  }

  .button-game-against-human {
      margin: 20px auto;
      float: left;
      display: inline-block;
      visibility: visible;
      padding: 10px;
      border-radius: 12px;
      min-width: 220px;
  }
 
  .cone {
      display: inline-block;
      background: url("../images/pine_cone_48.png") no-repeat;
      width: 35px;
      height: 50px;
  }
  
  .chosen-cone {
      background-color: #ff0000;
  }
  
  .removed-cone {
      visibility: hidden;
  }
  
  .chosen-line {
  }

  .logo-container {
      width: 600px;
      margin: 0 auto;
  }

  .start-container {
      padding-top: 100px;
      width: 600px;
      margin: 0 auto;
  }

  .game-container { 
      padding-top: 100px; 
      display: none;
      /*width: 600px;
      margin: 0 auto;*/
  }

  .start-buttons-container {
      padding-top: 20px;
      width: 500px;
      margin: 0 auto;
  }

  .game-result-container {
      width: 600px;
      margin: 0 auto;
      padding-top: 100px; 
      display: none;
  }

  .game-result-message {
      width: 400px;
      margin: 0 auto;
      display: block;
  }
 
  .button-replay {
      margin: 20px auto;
      padding: 20px; 
      display: block;
      border-radius: 12px;
  }

  .game-result-image-container {
      width: 250px;  
      margin: 0 auto;
  }

  .game-result-image {
      width: 250px;  
  }

  footer {
      width: 450px;
      padding-top: 20%;
      margin: 0 auto;
  }
  